.navbar{
    padding: 20px 0;
    z-index: 10;
}

.navbar-brand{
    font-weight: 800;
    font-size: 3em;
    color: rgb(2, 0, 112);
}

.nav-item{
    font-weight: 800;
    margin-left: 18px;
    margin-right: 18px;
}

