<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ESS INDIA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item dropdown active">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/services/integratedsecurity">Integreted security</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/services/facilitymanagement">Facility management</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/services/supplychain">Supply chain</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/services/training">Training</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home/gallery">Gallery</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/home/careers">Careers</a>
          </li>
      </ul>
    </div>
  </nav>
</div>
<router-outlet></router-outlet>
