

h2{
    font-size: 3em;
    font-weight: 800;
}
.paragraph-custom{
    font-size: 1.5em;
}

.carousel-inner{
    position: relative;
}


.carousel-indicators > li {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #404040;
  }

.car-item1-custom{
    background:coral;
    height: 90vh;
    z-index: 10;
}

.carousel-text{
    z-index: 2;
    position: absolute;
    font-weight: 800;
    font-size: 4em;
    padding: 20px;
}

.navbarFixed{
    position: fixed;
    z-index: 20;
    width: 100%;
}


#whoweare{
    background: rgb(15, 113, 226);
    color: rgb(255, 255, 255);
    padding: 80px;
}

.strongText{
    margin-bottom: 15px;
}

#testimonials{
    background: rgb(200, 198, 198);
}

#form-col{
    background:black;
    color:white;
}

.fa-car{
    color: blanchedalmond;
}

.form-group{
    font-size: 1.5em;
}

#icon-whatwedo{
    height: 10vh;
}



@media only screen and (max-width:576px) {
    .carousel-text{
        font-size: 2em;
    }

    .carouselButton{
        font-size: 0.5em;
    }

    h2{
        font-size: 2em;
        font-weight: 800;
    }
    .paragraph-custom{
        font-size: 1em;
    }
    .form-group{
        font-size: 1em;
    }
  }

@media only screen and (min-width:577px) and (max-width:992px){
    .carousel-text{
        font-size:2em;
    }
    .carouselButton{
        font-size: 0.5em;
    }

    h2{
        font-size: 2em;
        font-weight: 800;
    }
    .paragraph-custom{
        font-size: 1em;
    }
    .form-group{
        font-size: 1em;
    }
}
